<div class="container footer-blue">
</div>
<div class="container footer-dark-blue">
  <h1 class="footer-head">Get in touch</h1>
  <ul style="padding-left: 0;">
    <li class="details"><i class="fas fa-phone icons"></i> +44 (0)7732 325 799</li>
    <li class="details"><i class="far fa-envelope icons"></i> info@katebuxton.co.uk</li>
    <li class="details"><i class="fas fa-map-marker-alt icons"></i> London, SW9</li>
  </ul>
</div>
