<div class="footer">
  <img src="images/kb_logo.png" alt="logo">
  <ul class="list">
    <li class="details">+44 (0)7732 325 799</li>
    <li class="details"><a href="mailto:info@katebuxton.co.uk" class="email-link">info@katebuxton.co.uk</a></li>
    <li class="details">www.katebuxton.co.uk</li>
  </ul>
</div>
