<div class="navbar">
  <%= link_to 'KATE BUXTON WEBSITES', "/index.html", class: "navbar-left-contact navbar-left navbar-item-left text-white" %>
  <div class="navbar-right">
    <%= link_to 'MY WORK', "/index.html", class: "navbar-item-right navbar-link text-white" %>
    <%= link_to 'CONTACT', "/contact.html", class: "navbar-item-right navbar-link text-white" %>
  </div>
</div>
