<div class="navbar">
  <%= link_to 'KATE BUXTON WEBSITES', "/index.html", class: "navbar-left navbar-item-left" %>
  <div class="navbar-right">
    <a class: "navbar-item-right navbar-link", href="#identifier">MY WORK</a>
    <%= link_to 'CONTACT', "/contact.html", class: "navbar-item-right navbar-link" %>
  </div>
</div>
