<div class="navbar navbar-two navbar-fixed-top">
  <%= link_to 'HOME', "/index.html", class: "navbar-left-contact navbar-left navbar-item-left text-white" %>
  <div class="navbar-right hidden-xs">
    <%= link_to 'MY WORK', "/index.html", class: "navbar-item-right navbar-link text-white" %>
    <%= link_to 'CONTACT', "/contact.html", class: "navbar-item-right navbar-link text-white" %>
  </div>
  <div class="dropdown dropdown-right hidden-sm hidden-md hidden-lg">
    <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <a class: "navbar-item-right navbar-link", href="#identifier">MY WORK</a>
      <%= link_to 'CONTACT', "/contact.html", class: "navbar-item-right navbar-link" %>
    </ul>
  </div>
</div>
