<div class="navbar">
  <a href="/" class="navbar-left">
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752367/kb_logo.png" alt="logo">
  </a>
  <div class="navbar-right hidden-xs">
    <a class: "navbar-item-right navbar-link", href="#identifier">Portfolio</a>
    <a class: "navbar-item-right navbar-link", href="#identifier2">Contact</a>
  </div>
  <div class="dropdown dropdown-right hidden-sm hidden-md hidden-lg">
    <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a class: "navbar-item-right navbar-link position-portfolio", href="#identifier-sm">Portfolio</a></li>
      <li><a class: "navbar-item-right navbar-link position-contact", href="#identifier2">Contact</a></li>
    </ul>
  </div>
</div>
