.container-cards {
  position: relative;
}
.card-smooth-id {
  position: absolute;
  bottom: 44%;
}
.card-smooth-id-sm {
  position: absolute;
  bottom: 40%;
}
.card {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: block;
  height: 350px;
  padding: 0px;
  p {
    color: white;
  }
}
.row {
  margin: 0px;
}
.kill-padding {
  padding: 0px;
}
.card:hover .title {
  opacity: 1;
}
.card:hover .strapline {
  opacity: 1;
}
.card:hover .card-line {
  opacity: 1;
  z-index: 10000;
}

.bridge {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752369/bridge2.jpg');
  background-position: left;
}
.bridge-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('bridge2.jpg');
  background-position: left;
  margin-bottom: 30px;
}
.bridge:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('bridge2.jpg');
}
.skyline {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752371/skyline.jpg');
}
.skyline-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('skyline.jpg');
  margin-bottom: 30px;
}
.skyline:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('skyline.jpg');
}
.devici {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752367/devici.jpg');
}
.devici-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('devici.jpg');
  margin-bottom: 30px;
}
.devici:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('devici.jpg');
}
.consulate {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752612/consulate.png');
}
.consulate-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('consulate2.jpg');
  margin-bottom: 30px;
}
.consulate:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('consulate2.jpg');
}
.hunter {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752701/hunter.png');
}
.hunter-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('hunter2.jpg');
  margin-bottom: 30px;
}
.hunter:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('hunter2.jpg');
}
.business {
  background-image: url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752367/business.jpg');
}
.business-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('business.jpg');
}
.business:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), image-url('business.jpg');
}


.title-lg {
  opacity: 0;
  transition: ease 1s;
}
.title {
  position: absolute;
  bottom: 60px;
  left: 25px;
  border-bottom: 1px solid white;
  padding-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
}
.strapline-lg {
  opacity: 0;
  transition: ease 1s;
}
.strapline {
  position: absolute;
  bottom: 10px;
  left: 25px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2.5px;
}
