.footer {
  background-color: #717A80;
  margin: 0;
  width: 100vw;
  @media (max-width: 548px) {
    padding: 30px 0px 30px 30px;
  }
  @media (min-width: 549px) {
    padding: 40px 0px 20px 40px;
  }
  color: black;
}
.footer img {
  height: 50px;
}
.details {
  font-size: 12px;
  list-style: none;
  padding-top: 3px;
  color: black;
  line-height: 20px;
}
.email-link {
  padding: 0px!important;
  font-size: 12px;
}
.list {
  padding-left: 0;
  margin-top: 20px;
}
