.navbar {
  background: transparent;
  transition: all 0.3s ease;
  height: 120px;
  padding: 20px 70px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  z-index: 10000;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
}
.navbar-left {
  display: flex;
  min-width: 300px;
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(30, 30, 30);
}
.navbar-left:hover {
  text-decoration: none;
  color: rgb(30, 30, 30);
}
.navbar-left-contact:hover {
  text-decoration: none;
  color: white;
}
.navbar-item-right {
  cursor: pointer;
  padding: 0 20px;
}
.navbar-item-left {
  cursor: pointer;
  padding: 0;
}
.navbar-link {
  color: #616668;
}
a {
  color: #616668;
}
a:hover {
  color: #06E5C8;
  text-decoration: none;
}
.navbar-link:hover {
  color: #06E5C8;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-white {
  color: white;
}
.text-green {
  color: #06E5C8;
}
