.navbar {
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  z-index: 10000;
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: transparent;
  @media (max-width: 548px) {
     padding: 60px 40px 60px 20px;
  }
  @media (min-width: 549px) {
      padding: 60px;
  }
}

.navbar img {
  height: 50px;
}
/* Solid class attached on scroll past first section */

.navbar.solid {
  // background-color: #717A80;
  background-color: white;
  transition: background-color 1s ease 0s;
}

.navbar-left {
  padding-left: 0px;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
}
.navbar-left {
  display: flex;
  // min-width: 300px;
  margin: 0;
  padding-left: 0px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
}
.navbar-item-right {
  cursor: pointer;
  padding: 0 20px;
  position: absolute !important;
}
.navbar-item-left {
  cursor: pointer;
  // padding: 0;
}
.navbar-link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding: 0px 20px;
}
a {
  color: black;
  font-weight: 400;
  padding: 0px 20px;
}
a:focus {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #FECB00;
  text-decoration: none;
}
.navbar-link:hover {
  color: white;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dropdown-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 0px;
  color: black;
}
.dropdown-menu {
  width: 130px !important;
  background-color: none;
  font-size: 14px;
  border: none;
  border-radius: 1px;
}
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  // border-color: #E6E6E6;
  background-color: white;
  height: 115px;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: black;
  font-size: 12px !important;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 20px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  // background: transparent !important;
  color: #FECB00;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 30px;
  top: -10.5px;
  background-color: white;
  transform: rotate(45deg);
}
.dropdown-menu-right {
  right: -28px;
  padding: 20px 0px;
}
.position-portfolio {
  position: absolute !important;
  top: 60px !important;
  right: 66px !important;
}
.position-contact {
  position: absolute !important;
  top: 25px !important;
  right: 66px !important;
}






