.navbar {
  background: transparent;
  transition: all 0.3s ease;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  z-index: 10000;
  position: fixed;
  width: 100vw;
}
.navbar-two {
  height: 90px;
  background-color: transparent;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: #14222D;
  transition: background-color 1s ease 0s;
}


.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
.navbar-left {
  display: flex;
  // min-width: 300px;
  margin: 0;
  padding-left: 0px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  color: white;
}
.navbar-left:hover {
  text-decoration: none;
  color: #06E5C8;
}
// .navbar-left-contact:hover {
//   text-decoration: none;
//   color: white;
// }
.navbar-item-right {
  cursor: pointer;
  padding: 0 20px;
}
.navbar-item-left {
  cursor: pointer;
  // padding: 0;
}
.navbar-link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding: 0px 20px;
}
a {
  color: white;
  font-weight: 400;
  padding: 0px 20px;
}
a:hover {
  color: #06E5C8;
  text-decoration: none;
}
.navbar-link:hover {
  color: #06E5C8;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-white {
  color: white;
}
.text-green {
  color: #06E5C8;
}
.dropdown-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 0px;
}
.dropdown-menu {
  width: 110px !important;
  background-color: none;
}
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  border-color: #E6E6E6;
  background-color: #1E3141;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 20px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #06E5C8 !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 20px;
  width: 20px;
  position: absolute;
  right: 30px;
  top: -10.5px;
  background-color: #1E3141;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-menu-right {
  right: -28px;
}
