<%= partial "layouts/navbar_contact.html" %>
<div class="banner map" style="background-image: linear-gradient(to right, rgba(15,32,39,0.8), rgba(32,58,67,0.8), rgba(44,83,100,0.8)), url(https://picsum.photos/g/1000/1000/?random);">
  <h1 class="contact">Contact</h1>
</div>
<div class="container contact-details address">
  <p style="font-size: 20px";>About Me</p>
  <p style="margin-top: 20px;">I am a London-based Chartered Surveyor turned full stack web developer, having trained at Le Wagon learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
  <p>I build elegant, functional and user-friendly websites and web applications, and I would be delighted to discuss your requirements.</p>
  <p style="margin-top: 40px">Kate Buxton Web Design</p>
  <p>20 Dalyell Road</p>
  <p>London SW9 9QR</p>
  <p>+44 (0)7732 325 799</p>
  <p class="email">info@katebuxton.co.uk</p>
</div>
