<%= partial "layouts/navbar_contact.html" %>
<div class="banner map">
  <h1 class="contact">Contact</h1>
</div>
<div class="container contact-details address">
  <p style="font-size: 20px";>About Me</p>
  <p style="margin-top: 20px;">I am a London-based Chartered Surveyor turned full stack web developer, having trained at Le Wagon learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
  <p>I build elegant, functional and user-friendly websites and web applications, and I would be delighted to discuss your requirements.</p>
  <p style="margin-top: 40px">Kate Buxton Web Design</p>
  <p>London, SW9</p>
  <p>+44 (0)7732 325 799</p>
  <a href="mailto:info@katebuxton.co.uk" class="email email-link">info@katebuxton.co.uk</a>
</div>
