<%= partial "layouts/navbar_homepage.html" %>
<div class="container text-center heading">
  <div class="text-container">
    <span class="reg-text">Kate Buxton Web Design</span>
  </div>
  <p class="projects">MY PROJECTS</p>
  <div class="arrow-wrapper">
    <a href="#my-work">
      <div class="arrow">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </a>
  </div>
  <div class="arrow-wrapper-two">
    <a href="#my-work">
      <div class="arrow">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </a>
  </div>
</div>


<div class="container hidden-xs hidden-sm">
  <div class="row" id="my-work" style="margin-bottom: 40px;">
    <div class="col-xs-12">
      <div class="css-grid" id="identifier">
        <div class="grid-item-one grid-padding">
          <div>
              <p class="title">TBC</p>
              <p class="strapline">Website Re-launch</p>
              <p class="text max-width">Website for a London-based independent contractor.</p>
          </div>
        </div>
        <a href="https://pure-waters-97364.herokuapp.com/", class="grid-item-two grid-padding">
          <div>
              <p class="title">DEVICI</p>
              <p class="strapline">AirBnB-style lending platform</p>
              <p class="text max-width">App for loaning electronic devices, implemented searching and geocoding in Rails.</p>
          </div>
        </a>
        <a href="http://www.bridgeloans.website/", class="grid-item-three grid-padding">
          <div>
              <p class="title">BRIDGE</p>
              <p class="strapline grid-item-three-width">Peer to peer lending app</p>
              <p class="text grid-item-three-width">Built with Ruby on Rails employing JavaScript and AJAX. Designed, implemented and shipped to production over the final two weeks of Le Wagon.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="sm-items example-one hidden-md hidden-lg">
  <div class="sm-text">
    <p class="title">TBC</p>
    <p class="strapline">Website Re-launch</p>
    <p class="text">Website for a London-based independent contractor.</p>
  </div>
</div>
<a href="https://pure-waters-97364.herokuapp.com/", class="">
  <div class="sm-items example-two hidden-md hidden-lg">
    <div class="sm-text">
      <p class="title">DEVICI</p>
      <p class="strapline">AirBnB-style lending platform</p>
      <p class="text">App for loaning electronic devices, implemented searching and geocoding in Rails.</p>
    </div>
  </div>
</a>
<a href="http://www.bridgeloans.website/", class="">
  <div class="sm-items example-three hidden-md hidden-lg">
    <div class="sm-text">
      <p class="title">BRIDGE</p>
      <p class="strapline">Peer to peer lending app</p>
      <p class="text">Built with Ruby on Rails employing JavaScript and AJAX. Designed, implemented and shipped to production over the final two weeks of Le Wagon.</p>
    </div>
  </div>
</a>
