<div class="container heading">
  <div class="text-container">
    <span class="reg-text header">London-based Website Designer and Developer</span>
  </div>
</div>
<div class="container" id="my-work">
</div>

<div class="container-text">
  <div class="text-section">
    <p>I am a London-based Chartered Surveyor-turned website designer and developer.</p>
    <p class="about-margin-top about-margin-bottom">I build elegant, functional and user-friendly websites for any industry.</p>
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752370/text-line.png" alt="">
  </div>
  <div class="text-section">
    <p>Whether you require a website to showcase your burgeoning start-up or would like to create a bespoke website for your holiday let, I can offer my professional, friendly and reliable expertise at an affordable price. </p>
    <p class="about-margin-top about-margin-bottom">I can also provide holistic advice on branding, copy and marketing for your small business.</p>
    <img src="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1555752370/text-line.png" alt="">
  </div>
  <div class="text-section">
    <p class="about-margin-top">See below some past projects.</p>
  </div>
</div>

<div class="container-cards">
  <div class="row">
    <div class="col-12 col-sm-6 kill-padding">
      <a href="http://www.threadfilms.co/" target="_blank" class="card thread hidden-xs">
        <div class="card-smooth-id" id="" style="position: relative;">
          <div id="identifier" style="position: absolute; top: 50px" ></div>
        </div>
        <div>
          <p class="title title-lg">Thread Films</p>
          <p class="strapline strapline-lg">Website for film production company</p>
        </div>
      </a>
      <a href="http://www.threadfilms.co/" target="_blank" class="card thread-sm visible-xs">
        <div class="card-smooth-id-sm" id="identifier-sm">
        </div>
        <div>
          <p class="title">Thread Films</p>
          <p class="strapline">Website for film production company</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="http://www.swedenglasgow.co.uk" target="_blank" class="card consulate hidden-xs">
        <p class="title title-lg">Swedish Consulate Glasgow</p>
        <p class="strapline strapline-lg">Website design and development</p>
      </a>
      <a href="http://www.swedenglasgow.co.uk" target="_blank" class="card consulate-sm visible-xs">
        <p class="title">Swedish Consulate Glasgow</p>
        <p class="strapline">Website design and development</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="http://www.hunteradvisers.com" target="_blank" class="card hunter hidden-xs">
        <p class="title title-lg">Hunter Advisers</p>
        <p class="strapline strapline-lg">Website design and development</p>
      </a>
      <a href="http://www.hunteradvisers.com" target="_blank" class="card hunter-sm visible-xs">
        <p class="title">Hunter Advisers</p>
        <p class="strapline">Website design and development</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="http://www.bridgeloans.website/" target="_blank" class="card bridge hidden-xs">
        <p class="title title-lg">Bridge</p>
        <p class="strapline strapline-lg">Peer to peer lending app</p>
      </a>
      <a href="http://www.bridgeloans.website/" target="_blank" class="card bridge-sm visible-xs">
        <p class="title">Bridge</p>
        <p class="strapline">Peer to peer lending app</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="https://pure-waters-97364.herokuapp.com/" target="_blank" class="card devici hidden-xs">
        <div>
          <p class="title title-lg">Devici</p>
          <p class="strapline strapline-lg">Airbnb-style lending platform for electronics</p>
        </div>
      </a>
      <a href="https://pure-waters-97364.herokuapp.com/" target="_blank" class="card devici-sm visible-xs">
        <div>
          <p class="title">Devici</p>
          <p class="strapline">Airbnb-style lending platform</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="https://skyline-contactors.herokuapp.com/" target="_blank" class="card skyline hidden-xs">
        <div>
          <p class="title title-lg">Skyline Contractors</p>
          <p class="strapline strapline-lg">Portfolio project</p>
        </div>
      </a>
      <a href="https://skyline-contactors.herokuapp.com/" target="_blank" class="card skyline-sm visible-xs">
        <div>
          <p class="title">Skyline Contractors</p>
          <p class="strapline">Portfolio project</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container-text contact">
  <div class="text-center" id="" style="position: relative;">

          <div id="identifier2" style="position: absolute; top: -250px" ></div>


    <p>If you would like to discuss your requirements, see my CV, grab a coffee or find out if I can help you in any way please don't hesitate to contact me.</p>
    <ul class="list" style="margin-top: 50px;">
      <p style="margin: 0px;">+44 (0)7732 325 799</p>
      <p style="margin-bottom: 0px; color: #383838;"><a href="mailto:info@katebuxton.co.uk" style="font-weight:300 !important; ">info@katebuxton.co.uk</a></p>
      <p style="margin: 0px;">www.katebuxton.co.uk</p>
    </ul>
  </div>
</div>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
