<div class="container heading">
  <div class="text-container">
    <span class="reg-text header">London-based Website Designer and Developer</span>
  </div>
</div>
<div class="container" id="my-work">
</div>

<div class="container-text">
  <div class="text-section">
    <p>I am a London-based Chartered Surveyor-turned website designer and developer.</p>
    <p class="about-margin-top about-margin-bottom">I build elegant, functional and user-friendly websites for any industry.</p>
    <img src="images/text-line.png" alt="">
  </div>
  <div class="text-section">
    <p>Whether you are needing a platform to showcase your burgeoning start-up, wanting to create a bespoke website for your holiday let, or are looking to revamp your existing business’s homepage, I can offer my professional, friendly and reliable expertise at an affordable price.</p>
    <p class="about-margin-top about-margin-bottom">I can also provide advice on branding and logo design.</p>
    <img src="images/text-line.png" alt="">
  </div>
  <div class="text-section">
    <p class="about-margin-top">I am passionate about good digital design however I also understand that functionality of a website outweighs trends in design and complicated navigation!</p>
    <p class="about-margin-top">See below some example projects.</p>
  </div>
</div>

<div class="container-cards">
  <div class="row">
    <div class="col-12 col-sm-6 kill-padding">
      <a href="http://www.bridgeloans.website/", class="card bridge hidden-xs">
        <div class="card-smooth-id" id="identifier">
        </div>
        <div>
          <p class="title title-lg">Bridge</p>
          <p class="strapline strapline-lg">Peer to peer lending app</p>
        </div>
      </a>
      <a href="http://www.bridgeloans.website/", class="card bridge-sm visible-xs">
        <div class="card-smooth-id-sm" id="identifier-sm">
        </div>
        <div>
          <p class="title">Bridge</p>
          <p class="strapline">Peer to peer lending app</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="https://skyline-contactors.herokuapp.com/", class="card skyline hidden-xs">
        <div>
          <p class="title title-lg">Skyline Contractors</p>
          <p class="strapline strapline-lg">Portfolio project</p>
        </div>
      </a>
      <a href="https://skyline-contactors.herokuapp.com/", class="card skyline-sm visible-xs">
        <div>
          <p class="title">Skyline Contractors</p>
          <p class="strapline">Portfolio project</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <a href="https://pure-waters-97364.herokuapp.com/", class="card devici hidden-xs">
        <div>
          <p class="title title-lg">Devici</p>
          <p class="strapline strapline-lg">Airbnb-style lending platform for electronics</p>
        </div>
      </a>
      <a href="https://pure-waters-97364.herokuapp.com/", class="card devici-sm visible-xs">
        <div>
          <p class="title">Devici</p>
          <p class="strapline">Airbnb-style lending platform</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <div class="card consulate hidden-xs">
        <p class="title title-lg">Swedish Consulate Glasgow</p>
        <p class="strapline strapline-lg">Design for new website</p>
      </div>
      <div class="card consulate-sm visible-xs">
        <p class="title">Swedish Consulate Glasgow</p>
        <p class="strapline">Design for new website</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <div class="card hunter hidden-xs">
        <p class="title title-lg">Hunter Advisers</p>
        <p class="strapline strapline-lg">Design for re-launch of consultant’s website</p>
      </div>
      <div class="card hunter-sm visible-xs">
        <p class="title">Hunter Advisers</p>
        <p class="strapline">Design for re-launch of website</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 kill-padding">
      <div class="card business hidden-xs">
        <p class="title title-lg">Business cards</p>
        <p class="strapline strapline-lg">Branding and logo advice</p>
      </div>
      <div class="card business-sm visible-xs">
        <p class="title">Business cards</p>
        <p class="strapline">Branding and logo advice</p>
      </div>
    </div>
  </div>
</div>

<div class="container-text contact">
  <div class="text-center" id="identifier2">
    <p>If you would like to discuss your requirements, see my CV, grab a coffee or find out if I can help you in any way please don't hesitate to get in touch!</p>
    <ul class="list" style="margin-top: 50px;">
      <p style="margin: 0px;">+44 (0)7732 325 799</p>
      <p style="margin-bottom: 0px; color: #383838;"><a href="mailto:info@katebuxton.co.uk" style="font-weight:300 !important; ">info@katebuxton.co.uk</a></p>
      <p style="margin: 0px;">www.katebuxton.co.uk</p>
    </ul>
  </div>
</div>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
